

<div class="card card-body">
  <h3>Student to Add</h3>
  <form action="/students" method="post">
    <div class="form-group">
      <label for="firstname">First Name</label>
      <input type="text" class="form-control" name="firstname" required>
    </div>
    <div class="form-group">
      <label for="lasttname">Last Name</label>
      <input type="text" class="form-control" name="lastname" required>
    </div>
    <div class="form-group">
      <label for="cls">Class</label>
      <input type="text" class="form-control" name="cls" required>
    </div>
    <div class="form-group">
      <label for="num">Number</label>
      <input type="text" class="form-control" name="num" required>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

  </form>
</div>
